<h2>Ingredients</h2>
    <div>
      <form name="ingredientForm" >
        <table>
          <tr>
            <td><input name="quantity" #quantityInput [(ngModel)]="newIngredient.quantity" placeholder="quantity"></td>
            <td><select name="unit" [(ngModel)]="newIngredient.unit">
              <option>count</option>
              <option value="ounce">ounce(s)</option>
              <option value="pound">pound(s)</option>
              <option value="teaspoon">teaspoon(s)</option>
              <option value="tablespoon">tablespoon(s)</option>
              <option value="cup">cup(s)</option>
              <option>15 oz can</option>
              <option>32 oz can</option>
              </select>
            </td>
            <td> <input name="ingredient" [(ngModel)]="newIngredient.name" placeholder="name"> </td>
            <td> <button (click)="addIngredient()">add</button> </td>
          </tr>
        </table>
      </form>
    </div>
<ul class="heroes">
    <li
        *ngFor="let ingredient of recipe.ingredients"
        >
        <span class="ingredient">&nbsp;&nbsp;
          {{ingredient.quantity}}&nbsp;
          <span *ngIf="ingredient.unit !== 'count'">{{ingredient.unit}}(s)&nbsp;</span>
          {{ingredient.name}}
        </span>
        <span class="delete clickable" (click)="delete(ingredient)">
          <i class="material-icons">delete</i>
        </span>
    </li>
</ul>
