<h2>Ingredients</h2>
    <div>
      <form name="ingredientForm" >
        <table>
          <tr>
            <td><input name="quantity" #quantityInput [(ngModel)]="newIngredient.quantity" placeholder="quantity"></td>
            <td><select name="unit" [(ngModel)]="newIngredient.unit">
              <option>count</option>
              <option>grams</option>
              <option>ounces</option>
              <option>pounds</option>
              <option>teaspoons</option>
              <option>tablespoons</option>
              <option>cups</option>
              <option>15 oz can</option>
              </select>
            </td>
            <td> <input name="ingredient" [(ngModel)]="newIngredient.name" placeholder="name"> </td>
            <td> <button (click)="addIngredient()">add</button> </td>
          </tr>
        </table>
      </form>
    </div>
<ul class="heroes">
    <li
        *ngFor="let ingredient of recipe.ingredients"
        >
        <span>&nbsp;&nbsp;
          {{ingredient.quantity}}&nbsp;{{ingredient.unit}}&nbsp;{{ingredient.name}}
        </span>
        <span class="delete clickable" (click)="delete(ingredient)">
          <i class="material-icons">delete</i>
        </span>
    </li>
</ul>
